@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.flex-container {
  margin: 3rem;
}
section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid black;
  background-color: #fff;
  padding: 3rem 2rem;
  width: 80%;
  margin: auto;
}
.container {
  width: 100%;
}
.container h2 {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
@media (max-width: 410px) {
  .container h2 {
    font-size: 0.7rem;
  }
}
